* {
    padding: 0;
    margin: 0;
    border: 0;
}
body {
     font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    font-size: 10pt;
    line-height: 14pt;
    background: #eeeeee;
    color: #777;
}

 p
        {
            line-height: 14pt;
            padding: 0 0 15px 0;
        }

        h1
        {
            font-family: 'Open Sans', Arial, Helvetica, sans-serif;
            font-size: 24pt;
            font-weight: 300;
            line-height: 28pt;
            margin: 0 0 20px 0;
        }

        h2
        {
            font-family: 'Open Sans', Arial, Helvetica, sans-serif;
            font-size: 18pt;
            font-weight: 300;
           
            margin: 0 0 16px 0;
            padding-top: 20px;
        }
         h3
        {
            font-family: 'Open Sans', Arial, Helvetica, sans-serif;
            font-size: 16pt;
            font-weight: 300;
           
            margin: 0 0 10px 0;
        }
          h4
        {
            font-family: 'Open Sans', Arial, Helvetica, sans-serif;
            font-size: 13pt;
            font-weight: 300;
                        margin: 0 0 10px 0;
        }
a {
     color: #799458; text-decoration: none;
      font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}
td, th {
     padding: 4px;
}

#content {
    display: block;
    background: #fff;
    margin: 20px;
    padding: 20px;
    clear: both;
}
#sidebar {
   
   
}
#navbar { 
    background: #fff; display: block; text-align: center; padding: 20px 0;
}
#navbar a { 
    font-size:  10pt; 
    padding: 10px 0 20px 0;
    color: #0094d9;

}
#sidebar td,#sidebar th {
     padding: 2px;
}
#sidebar h2 { color: #fff; line-height: 30pt;}
#sidebarcontent { margin-left: 10px;}
input[type=button], input[type=submit] {
             background:  #5ec2da; padding:  2px 10px; color:#fff; font-size: 0.8em; 
        }
td {
             vertical-align: top;
        }
        .boxes td {
            margin:  0 20px 20px 0; text-align: left; width:  25%;
        }
        .greenbox {
             background:  #5ccbc4; padding:  10px; color:#fff;
        }
        .bluebox {
             background:  #5ec2da; padding:  10px; color:#fff;
        }
        .darkbluebox {
             background:  #5ec2da; padding:  10px; color:#fff;
        }
     
        .boxes h1 {
             padding:  10px;color:#fff; margin:  0; padding:   0 0 10px 0; font-size: 16pt;
        }
         .boxes h3 {
             padding:  10px;color:#fff; margin:  0; padding:  0; line-height: 34pt; font-size: 32pt;
        }
          .side h4 {
             padding:  10px;color:#fff; margin:  0; padding: 0; font-size: 12pt;
        }
          .side h1 {
             padding:  10px;color:#fff; margin:  0; padding:   0 0 10px 0; font-size: 12pt;
        }
         .side h3 {
             padding:  10px;color:#fff; margin:  0; padding:  0; line-height: 34pt; font-size: 24pt;
        }
          .boxes h4 {
             padding:  10px;color:#fff; margin:  0; padding: 0; font-size: 12pt;
        }
        .boxes span {
            font-size:  50%;
        }
       
        h1 span {
            float:  right; font-size:  18pt; padding:  0;
        }

input
{
    border: 1px solid #ddd;
}

.dialboxes td {
            margin:  0 5px 5px 0; width:  25%; 
        }
		
		 .dialboxes td h1 {
             padding:  10px; margin:  0;  padding:   0 0 10px 0; font-size: 16pt; color:#333333;text-align:left;
             line-height: 22pt;
        }
		.dialboxes h1 span { float: none; font-size:  24pt; }
		 .dialboxes td h2 {
             padding:  10px; margin:  0; padding:   0 0 10px 0; font-size: 13pt; color:#333333; text-align:left;
        }
         .dialboxes td h3 {
             padding:  10px; margin:  0; padding:  0; line-height: 34pt; font-size: 32pt; color:#333333;
        }
      
         .side td h3 {
             padding:  10px; margin:  0; padding:  0; line-height: 34pt; font-size: 24pt; color:#333333;
        }
          .dialboxes td h4 {
             padding:  10px; margin:  0; padding: 0; font-size: 12pt;
        }
 .calendar1 { width: 100%;  background: #fff;  font-size:  8pt; margin-bottom: 20px;}

 .box { background: #5ec2da; border: 1px solid #ccc; color: #fff;  text-align:center;   height: 220px; position: relative; }

  /* Large Devices, Wide Screens */
    @media only screen and (min-width : 993px) {
        .box { width: 48%; float: left; margin: 0 1% 20px 0;}
    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
        .box { width: 48%; float: left; margin: 0 1% 20px 0;}
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 700px) {
          .box { width: 100%; float: none; height: auto; padding-bottom: 40px;}
      }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
        .box { width: 100%; float: none;height: auto; padding-bottom: 40px;}
        #content { margin: 0;}
        #sidebar { display: none;
   
}
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        .box { width: 100%; float: none;height: auto; padding-bottom: 40px;}
    }

   