<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
  <system.net>
    <settings />
  </system.net>
  <connectionStrings>
    <add name="MainConn" providerName="System.Data.SqlClient" connectionString="Server=.\SQLExpress;Database=HomeData;User ID=HomeData;Password=HomeData" />
  </connectionStrings>
  <system.web>
    <httpRuntime requestValidationMode="2.0" />
    <pages />
    <compilation debug="false" targetFramework="4.0">
     
    </compilation>
    <globalization fileEncoding="utf-8" requestEncoding="utf-8" responseEncoding="utf-8" culture="en-GB" uiCulture="en-GB" />
    <customErrors mode="Off" defaultRedirect="/default.aspx?err=Unspecified">
      <error statusCode="404" redirect="/default.aspx" />
      
      <error statusCode="500" redirect="/default.aspx" />
    </customErrors>
  </system.web>
 
</configuration>